html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

.top-nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 1rem 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  z-index: 10;
}

.logo {
  background-color: #c0c0c050;
  backdrop-filter: blur(10px);
  padding: 1rem 1.5rem;
  border-radius: 20rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-list {
  background-color: #c0c0c050;
  backdrop-filter: blur(10px);
  height: 100%;
  padding: 1rem 1.5rem;
  border-radius: 20rem;
  font-weight: bold;
}

.nav-item {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover {
  color: #717580;
}

.nav-github {
  background-color: #c0c0c050;
  backdrop-filter: blur(10px);
  height: 100%;
  padding: 1rem 1.2rem;
  border-radius: 25rem;
}

.nav-github a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.btm-nav {
  display: none;
}

section {
  max-height: 100vh;
}

.profile-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  overflow: hidden;
}

.marquee {
  position: absolute;
  top: 25%;
  display: flex;
  white-space: nowrap;
  animation: scrollInfinite 20s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

.profile-name {
  font-size: 30rem;
  color: white;
  opacity: 0.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 0;
  padding-right: 4rem;
  z-index: 0;
}

@keyframes scrollInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.profile-image {
  max-height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.about-wrapper {
  padding: 4rem;
  background-color: #666666;
  color: white;
  text-align: center;
}

.about-description {
  margin-top: 1rem;
  padding: 20px 10%;
  font-size: 1.2rem;
  line-height: 1.6;
}

.social {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.social a {
  color: rgba(214, 214, 214, 0.459);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.social a:hover {
  color: #ffffff;
}

.contribution-graph {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.skills-wrapper {
  padding: 4rem;
  background-color: #0d1117;
  color: white;
  text-align: center;
}

.skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.skills-list svg {
  color: rgba(214, 214, 214, 0.459);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.js:hover {
  color: #f0db4f;
}

.ts:hover {
  color: #007acc;
}

.nodejs:hover {
  color: #8cc84b;
}

.react:hover {
  color: #61dafb;
}

.nextjs:hover {
  color: #ffffff;
}

.expressjs:hover {
  color: #ffffff;
}

.python:hover {
  color: #3776ab;
}

.postgresql:hover {
  color: #336791;
}

.supabase:hover {
  color: #50D398;
}

.tailwind:hover {
  color: #38b2ae;
}

.contact-wrapper {
  text-align: center;
  color: white;
  padding: 3rem 1rem;
}

.email-form {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  width: min(90%, 23rem);
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
  padding: 2.5rem 2rem;
  border-radius: 1rem;
}

.email-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.email-item label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.email-item input,
.email-item textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  transition: all 0.3s ease-in-out;
  font-family: inherit;
  font-size: 1rem;
  resize: none;
  box-sizing: border-box;
}

.email-item input::placeholder,
.email-item textarea::placeholder {
  color: #cccccc;
}

.email-item input:focus,
.email-item textarea:focus {
  outline: none;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 10px #eaeaea70;
  background-color: rgba(255, 255, 255, 0.15);
}

.email-item button {
  width: 100%;
  padding: 1rem;
  background-color: #eaeaea;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.email-item button:hover {
  background-color: #eaeaea;
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

#footer {
  text-align: center;
  padding: 1rem;
  background-color: #20232a;
  color: white;
  font-size: 0.9rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ececec;
  margin: 40svh auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 1rem;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#modal-message {
  margin-top: 1rem;
  font-size: 1rem;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  color: #ff4d4d;
  font-size: 0.9rem;
  display: none;
}

.cancel-button, .send-button {
  padding: 1rem 2rem;
  width: 45%;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cancel-button {
  background-color: #e0e0e0;
  color: #333333;
  margin-right: 1rem;
}

.cancel-button:hover {
  background-color: #d0d0d0;
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.send-button {
  background-color: #6e6e6e;
  color: #eaeaea;
}

.send-button:hover {
  background-color: #5e5e5e;
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 768px) {
  .top-nav {
    flex-direction: column;
    gap: 1rem;
  }

  .btm-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    z-index: 10;
  }

  .nav-list {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-item {
    margin: 0 calc(100% - 92%);
  }

  .logo {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }

  .nav-actions {
    display: none;
  }

  .profile-image {
    max-height: 70vh;
    translate: calc(100% - 97%) 0;
  }

  .about-wrapper {
    padding: 4rem 1.5rem;
  }

  .profile-name {
    font-size: 15rem;
    padding-right: 2rem;
  }

  .skills-wrapper {
    padding: 4rem 1.5rem;
  }

  .contribution-graph {
    display: none;
  }

  .email-form {
    width: calc(90% - 2rem);
  }
  
}
